// Sassy

.card {
  width: 105px;
  height: 160px;
  float: left;
  background: no-repeat center/cover;
}
.street-01 { background-image: url("/street-01.png"); }
.street-02 { background-image: url("/street-02.png"); }
.street-03 { background-image: url("/street-03.png"); }
.street-04 { background-image: url("/street-04.png"); }
.street-05 { background-image: url("/street-05.png"); }
.street-06 { background-image: url("/street-06.png"); }
.street-07 { background-image: url("/street-07.png"); }
.street-08 { background-image: url("/street-08.png"); }
.street-09 { background-image: url("/street-09.png"); }
.street-10 { background-image: url("/street-10.png"); }
.street-11 { background-image: url("/street-11.png"); }
.street-12 { background-image: url("/street-12.png"); }
.street-13 { background-image: url("/street-13.png"); }
.street-14 { background-image: url("/street-14.png"); }
.event-1908 { background-image: url("/event-1908.png"); }
.event-1920 { background-image: url("/event-1920.png"); }
.event-1923 { background-image: url("/event-1923.png"); }
.event-1931 { background-image: url("/event-1931.png"); }
.event-1945 { background-image: url("/event-1945.png"); }
.event-1947 { background-image: url("/event-1947.png"); }

.tapped-card {
  width: 160px;
  height: 105px;
  float: left;
  background: no-repeat center/cover;
}
.warehouse { background-image: url("/warehouse.png"); }
.rest { background-image: url("/rest.png"); }
.goals { background-image: url("/goals.png"); }
