.cube {
  background: no-repeat url('/cubes-and-dice.png');
}

.yellow {
  background-size: 320px;
  background-position: -192px 0px;
}

.blue {
  background-size: 320px;
  background-position: -32px 0px;
}

.dice {
  width: 30px;
  height: 30px;
  position: absolute;
}

#dice1 {
  background: no-repeat url('/cubes-and-dice.png');
  background-position: 0px -124px;
}

#dice2 {
  background: no-repeat url('/cubes-and-dice.png');
  background-position: -30px -124px;
}

#dice3 {
  background: no-repeat url('/cubes-and-dice.png');
  background-position: -60px -124px;
}

#dice4 {
  background: no-repeat url('/cubes-and-dice.png');
  background-position: -90px -124px;
}

#dice5 {
  background: no-repeat url('/cubes-and-dice.png');
  background-position: -120px -124px;
}

#dice6 {
  background: no-repeat url('/cubes-and-dice.png');
  background-position: -150px -124px;
}

.resource {
  background: no-repeat center url('/eirakuchotori-resources.png');
  background-size: 0px;
}

#street-1 {
  background-size: 1680px;
  background-position: -0px 0px;
}

#street-2 {
  background-size: 1680px;
  background-position: -120px 0px;
}

#street-3 {
  background-size: 1680px;
  background-position: -240px 0px;
}

#street-4 {
  background-size: 1680px;
  background-position: -360px 0px;
}

#street-5 {
  background-size: 1680px;
  background-position: -480px 0px;
}

#street-6 {
  background-size: 1680px;
  background-position: -600px 0px;
}

#street-7 {
  background-size: 1680px;
  background-position: -720px 0px;
}

#street-8 {
  background-size: 1680px;
  background-position: -840px 0px;
}

#street-9 {
  background-size: 1680px;
  background-position: -960px 0px;
}

#street-10 {
  background-size: 1680px;
  background-position: -1080px 0px;
}

#street-11 {
  background-size: 1680px;
  background-position: -1200px 0px;
}

#street-12 {
  background-size: 1680px;
  background-position: -1320px 0px;
}

#street-13 {
  background-size: 1680px;
  background-position: -1440px 0px;
}

#street-14 {
  background-size: 1680px;
  background-position: -1560px 0px;
}

#event-1908 {
  background: no-repeat url('/eirakuchotori-resources.png');
  background-size: 1680px;
  background-position: -0px -182px;
  height: 182px;
}

#event-1920 {
  background: no-repeat url('/eirakuchotori-resources.png');
  background-size: 1680px;
  background-position: -120px -182px;
  height: 182px;
}

#event-1923 {
  background: no-repeat url('/eirakuchotori-resources.png');
  background-size: 1680px;
  background-position: -240px -182px;
  height: 182px;
}

#event-1931 {
  background: no-repeat url('/eirakuchotori-resources.png');
  background-size: 1680px;
  background-position: -360px -182px;
  height: 182px;
}

#event-1945 {
  background: no-repeat url('/eirakuchotori-resources.png');
  background-size: 1680px;
  background-position: -480px -182px;
  height: 182px;
}

#event-1947 {
  background: no-repeat url('/eirakuchotori-resources.png');
  background-size: 1680px;
  background-position: -600px -182px;
  height: 182px;
}

#warehouse-1, #warehouse-2 {
  background-size: 2291px;
  background-position: -207px -496px;
}

#scores-goals-rest {
  background-size: 4970px;
  background-position: 0px -1076px;
}

