.cube {
  background: no-repeat url("/cubes-and-dice.png");
  width: 30px;
  height: 32px;
}

.yellow {
  background-size: 320px;
  background-position: -192px 0px;
}

.blue {
  background-size: 320px;
  background-position: -32px 0px;
}

/* score START */
.yellow.cube.score0 {
  top: 570px;
  left: 295px;
}

.yellow.cube.score1 {
  top: 570px;
  left: 322px;
}

.yellow.cube.score2 {
  top: 570px;
  left: 349px;
}

.yellow.cube.score3 {
  top: 570px;
  left: 377px;
}

.yellow.cube.score4 {
  top: 570px;
  left: 404px;
}

.yellow.cube.score5 {
  top: 570px;
  left: 432px;
}

.yellow.cube.score6 {
  top: 570px;
  left: 459px;
}

.yellow.cube.score7 {
  top: 570px;
  left: 486px;
}

.yellow.cube.score8 {
  top: 570px;
  left: 514px;
}

.yellow.cube.score9 {
  top: 570px;
  left: 541px;
}

.yellow.cube.score10 {
  top: 570px;
  left: 569px;
}

.yellow.cube.score11 {
  top: 623px;
  left: 322px;
}

.yellow.cube.score12 {
  top: 623px;
  left: 349px;
}

.yellow.cube.score13 {
  top: 623px;
  left: 377px;
}

.yellow.cube.score14 {
  top: 623px;
  left: 404px;
}

.yellow.cube.score15 {
  top: 623px;
  left: 432px;
}

.yellow.cube.score16 {
  top: 623px;
  left: 459px;
}

.yellow.cube.score17 {
  top: 623px;
  left: 486px;
}

.yellow.cube.score18 {
  top: 623px;
  left: 514px;
}

.yellow.cube.score19 {
  top: 623px;
  left: 541px;
}

.yellow.cube.score20 {
  top: 623px;
  left: 569px;
}

.yellow.cube.score21 {
  top: 676px;
  left: 322px;
}

.yellow.cube.score22 {
  top: 676px;
  left: 349px;
}

.yellow.cube.score23 {
  top: 676px;
  left: 377px;
}

.yellow.cube.score24 {
  top: 676px;
  left: 404px;
}

.yellow.cube.score25 {
  top: 676px;
  left: 432px;
}

.yellow.cube.score26 {
  top: 676px;
  left: 459px;
}

.yellow.cube.score27 {
  top: 676px;
  left: 486px;
}

.yellow.cube.score28 {
  top: 676px;
  left: 514px;
}

.yellow.cube.score29 {
  top: 676px;
  left: 541px;
}

.yellow.cube.score30 {
  top: 676px;
  left: 569px;
}

.blue.cube.score0 {
  top: 596px;
  left: 295px;
}

.blue.cube.score1 {
  top: 596px;
  left: 322px;
}

.blue.cube.score2 {
  top: 596px;
  left: 349px;
}

.blue.cube.score3 {
  top: 596px;
  left: 377px;
}

.blue.cube.score4 {
  top: 596px;
  left: 404px;
}

.blue.cube.score5 {
  top: 596px;
  left: 432px;
}

.blue.cube.score6 {
  top: 596px;
  left: 459px;
}

.blue.cube.score7 {
  top: 596px;
  left: 486px;
}

.blue.cube.score8 {
  top: 596px;
  left: 514px;
}

.blue.cube.score9 {
  top: 596px;
  left: 541px;
}

.blue.cube.score10 {
  top: 596px;
  left: 569px;
}

.blue.cube.score11 {
  top: 649px;
  left: 322px;
}

.blue.cube.score12 {
  top: 649px;
  left: 349px;
}

.blue.cube.score13 {
  top: 649px;
  left: 377px;
}

.blue.cube.score14 {
  top: 649px;
  left: 404px;
}

.blue.cube.score15 {
  top: 649px;
  left: 432px;
}

.blue.cube.score16 {
  top: 649px;
  left: 459px;
}

.blue.cube.score17 {
  top: 649px;
  left: 486px;
}

.blue.cube.score18 {
  top: 649px;
  left: 514px;
}

.blue.cube.score19 {
  top: 649px;
  left: 541px;
}

.blue.cube.score20 {
  top: 649px;
  left: 569px;
}

.blue.cube.score21 {
  top: 702px;
  left: 322px;
}

.blue.cube.score22 {
  top: 702px;
  left: 349px;
}

.blue.cube.score23 {
  top: 702px;
  left: 377px;
}

.blue.cube.score24 {
  top: 702px;
  left: 404px;
}

.blue.cube.score25 {
  top: 702px;
  left: 432px;
}

.blue.cube.score26 {
  top: 702px;
  left: 459px;
}

.blue.cube.score27 {
  top: 702px;
  left: 486px;
}

.blue.cube.score28 {
  top: 702px;
  left: 514px;
}

.blue.cube.score29 {
  top: 702px;
  left: 541px;
}

.blue.cube.score30 {
  top: 702px;
  left: 569px;
}
/* score END */

/* warehouse START */
.yellow.cube.Rice1 {
  top: 88px;
  left: 306px;
}

.yellow.cube.Rice2 {
  top: 60px;
  left: 306px;
}

.yellow.cube.Rice3 {
  top: 32px;
  left: 306px;
}

.yellow.cube.Rice4 {
  top: 4px;
  left: 306px;
}

.yellow.cube.Sugar1 {
  top: 88px;
  left: 339px;
}

.yellow.cube.Sugar2 {
  top: 60px;
  left: 339px;
}

.yellow.cube.Sugar3 {
  top: 32px;
  left: 339px;
}

.yellow.cube.Sugar4 {
  top: 4px;
  left: 339px;
}

.yellow.cube.Camphor1 {
  top: 88px;
  left: 372px;
}

.yellow.cube.Camphor2 {
  top: 60px;
  left: 372px;
}

.yellow.cube.Camphor3 {
  top: 32px;
  left: 372px;
}

.yellow.cube.Camphor4 {
  top: 4px;
  left: 372px;
}

.yellow.cube.Tea1 {
  top: 88px;
  left: 405px;
}

.yellow.cube.Tea2 {
  top: 60px;
  left: 405px;
}

.yellow.cube.Tea3 {
  top: 32px;
  left: 405px;
}

.yellow.cube.Tea4 {
  top: 4px;
  left: 405px;
}

.yellow.cube.Groceries1 {
  top: 88px;
  left: 443px;
}

.yellow.cube.Groceries2 {
  top: 60px;
  left: 443px;
}

.yellow.cube.Groceries3 {
  top: 32px;
  left: 443px;
}

.yellow.cube.Groceries4 {
  top: 4px;
  left: 443px;
}

.yellow.cube.Fabric1 {
  top: 88px;
  left: 473px;
}

.yellow.cube.Fabric2 {
  top: 60px;
  left: 473px;
}

.yellow.cube.Fabric3 {
  top: 32px;
  left: 473px;
}

.yellow.cube.Fabric4 {
  top: 4px;
  left: 473px;
}

.yellow.cube.Ginseng1 {
  top: 88px;
  left: 503px;
}

.yellow.cube.Ginseng2 {
  top: 60px;
  left: 503px;
}

.yellow.cube.Ginseng3 {
  top: 32px;
  left: 503px;
}

.yellow.cube.Ginseng4 {
  top: 4px;
  left: 503px;
}

.blue.cube.Rice1 {
  top: 838px;
  left: 306px;
}

.blue.cube.Rice2 {
  top: 810px;
  left: 306px;
}

.blue.cube.Rice3 {
  top: 782px;
  left: 306px;
}

.blue.cube.Rice4 {
  top: 754px;
  left: 306px;
}

.blue.cube.Sugar1 {
  top: 838px;
  left: 339px;
}

.blue.cube.Sugar2 {
  top: 810px;
  left: 339px;
}

.blue.cube.Sugar3 {
  top: 782px;
  left: 339px;
}

.blue.cube.Sugar4 {
  top: 754px;
  left: 339px;
}

.blue.cube.Camphor1 {
  top: 838px;
  left: 372px;
}

.blue.cube.Camphor2 {
  top: 810px;
  left: 372px;
}

.blue.cube.Camphor3 {
  top: 782px;
  left: 372px;
}

.blue.cube.Camphor4 {
  top: 754px;
  left: 372px;
}

.blue.cube.Tea1 {
  top: 838px;
  left: 405px;
}

.blue.cube.Tea2 {
  top: 810px;
  left: 405px;
}

.blue.cube.Tea3 {
  top: 782px;
  left: 405px;
}

.blue.cube.Tea4 {
  top: 754px;
  left: 405px;
}

.blue.cube.Groceries1 {
  top: 838px;
  left: 443px;
}

.blue.cube.Groceries2 {
  top: 810px;
  left: 443px;
}

.blue.cube.Groceries3 {
  top: 782px;
  left: 443px;
}

.blue.cube.Groceries4 {
  top: 754px;
  left: 443px;
}

.blue.cube.Fabric1 {
  top: 838px;
  left: 473px;
}

.blue.cube.Fabric2 {
  top: 810px;
  left: 473px;
}

.blue.cube.Fabric3 {
  top: 782px;
  left: 473px;
}

.blue.cube.Fabric4 {
  top: 754px;
  left: 473px;
}

.blue.cube.Ginseng1 {
  top: 838px;
  left: 503px;
}

.blue.cube.Ginseng2 {
  top: 810px;
  left: 503px;
}

.blue.cube.Ginseng3 {
  top: 782px;
  left: 503px;
}

.blue.cube.Ginseng4 {
  top: 754px;
  left: 503px;
}
/* warehouse END */

/* dice START */
#dice-area {
  position: absolute;
  top: 0px;
  left: -124px;
}

.dice {
  width: 30px;
  height: 30px;
  float: left;
}

.dice1 {
  background: no-repeat url("/cubes-and-dice.png");
  background-position: 0px -108px;
}

.dice2 {
  background: no-repeat url("/cubes-and-dice.png");
  background-position: -30px -108px;
}

.dice3 {
  background: no-repeat url("/cubes-and-dice.png");
  background-position: -60px -108px;
}

.dice4 {
  background: no-repeat url("/cubes-and-dice.png");
  background-position: -90px -108px;
}

.dice5 {
  background: no-repeat url("/cubes-and-dice.png");
  background-position: -120px -108px;
}

.dice6 {
  background: no-repeat url("/cubes-and-dice.png");
  background-position: -150px -108px;
}
/* dice END */

.resource {
  background: no-repeat center url("/eirakuchotori-resources.png");
  background-size: 0px;
}

/* street and event START */
#street-1 {
  background-size: 1680px;
  background-position: -0px 0px;
}

#street-2 {
  background-size: 1680px;
  background-position: -120px 0px;
}

#street-3 {
  background-size: 1680px;
  background-position: -240px 0px;
}

#street-4 {
  background-size: 1680px;
  background-position: -360px 0px;
}

#street-5 {
  background-size: 1680px;
  background-position: -480px 0px;
}

#street-6 {
  background-size: 1680px;
  background-position: -600px 0px;
}

#street-7 {
  background-size: 1680px;
  background-position: -720px 0px;
}

#street-8 {
  background-size: 1680px;
  background-position: -840px 0px;
}

#street-9 {
  background-size: 1680px;
  background-position: -960px 0px;
}

#street-10 {
  background-size: 1680px;
  background-position: -1080px 0px;
}

#street-11 {
  background-size: 1680px;
  background-position: -1200px 0px;
}

#street-12 {
  background-size: 1680px;
  background-position: -1320px 0px;
}

#street-13 {
  background-size: 1680px;
  background-position: -1440px 0px;
}

#street-14 {
  background-size: 1680px;
  background-position: -1560px 0px;
}

#event-1908 {
  background: no-repeat url("/eirakuchotori-resources.png");
  background-size: 1680px;
  background-position: -0px -182px;
  height: 182px;
}

#event-1920 {
  background: no-repeat url("/eirakuchotori-resources.png");
  background-size: 1680px;
  background-position: -120px -182px;
  height: 182px;
}

#event-1923 {
  background: no-repeat url("/eirakuchotori-resources.png");
  background-size: 1680px;
  background-position: -240px -182px;
  height: 182px;
}

#event-1931 {
  background: no-repeat url("/eirakuchotori-resources.png");
  background-size: 1680px;
  background-position: -360px -182px;
  height: 182px;
}

#event-1945 {
  background: no-repeat url("/eirakuchotori-resources.png");
  background-size: 1680px;
  background-position: -480px -182px;
  height: 182px;
}

#event-1947 {
  background: no-repeat url("/eirakuchotori-resources.png");
  background-size: 1680px;
  background-position: -600px -182px;
  height: 182px;
}
/* street and event END */

/* street merchant START */
.merchant1 {
  top: 184px;
  left: 41px;
}

.merchant2 {
  top: 184px;
  left: 171px;
}

.merchant3 {
  top: 184px;
  left: 301px;
}

.merchant4 {
  top: 184px;
  left: 431px;
}

.merchant5 {
  top: 184px;
  left: 561px;
}

.merchant6 {
  top: 184px;
  left: 691px;
}

.merchant7 {
  top: 184px;
  left: 821px;
}

.merchant8 {
  top: 374px;
  left: 41px;
}

.merchant9 {
  top: 374px;
  left: 171px;
}

.merchant10 {
  top: 374px;
  left: 301px;
}

.merchant11 {
  top: 374px;
  left: 431px;
}

.merchant12 {
  top: 374px;
  left: 561px;
}

.merchant13 {
  top: 374px;
  left: 691px;
}

.merchant14 {
  top: 374px;
  left: 821px;
}
/* street merchant END */

#warehouse-1, #warehouse-2 {
  background-size: 2294px;
  background-position: -208px -497px;
}

#scores-goals-rest {
  background-size: 5169px;
  background-position: 0px -1119px;
}

/* rest and goal START */
.rest1 {
  top: 595px;
  left: 602px;
}

.rest2 {
  top: 595px;
  left: 634px;
}

.rest3 {
  top: 595px;
  left: 666px;
}

.rest4 {
  top: 595px;
  left: 698px;
}

.rest5 {
  top: 595px;
  left: 730px;
}

.Merchants3 {
  top: 675px;
  left: 616px;
}

.Warehouse24 {
  top: 675px;
  left: 664px;
}

.Export6 {
  top: 675px;
  left: 712px;
}
/* rest and goal END */
